.form {
    margin-top: 5em;
    margin-bottom: 5em;
}

.contact__text {
    text-align: center;
    font-family:'Recursive',sans-serif;
    margin-top: 2em;
    color: #6B9127;
}

.contain__form label {
    color: #32751C;
}

.contain__form input textarea {
    text-align: center;
    width: 80%;
}

.contain__form button {
    background-color: #32751C;
    border: 1px solid #6B9127;
}

.contain__form button:hover {
    background-color: #6B9127;
}

@media only screen and (min-width: 769px) {
    .contain__form {
        width: 80%;
    }
}