#32751C
#6B9127
#38AB63

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/* PRODUCTOS */

.presentation__banner {
  display: flex;
  flex-direction: column;
  background-image: url("assets/imagenes/arunas-naujokas-UTvJNeI9nVg-unsplash.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: soft-light;
}

.products__title {
  margin-top: -1px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  mix-blend-mode: hard-light;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 10px rgba(94, 92, 92, 0.2);
}

.products__title img {
  width: 320px;
}

.products__information {
  padding: 30px;
  margin: 20px 0px;
  background-color: white;
}

.products__presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.presentation__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail__photo {
  display: flex;
}

.detail__photo img {
  height: 390px;
  margin: 15px 0px;
}

.products__presentation .detail__photo  .flip-card {
  background-color: transparent;
  width: 320px;
  height: 420px;
  perspective: 1000px; /* 3D effect */
}

/* This container is needed to position the front and back side */
.products__presentation .detail__photo  .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.products__presentation .detail__photo .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border: 2px solid #38AB63;
  border-radius: 20px;
  box-shadow: 0px 5px 5px silver;
}

/* Position the front and back side */
.products__presentation .detail__photo .flip-card-front, .products__presentation .detail__photo .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.products__presentation .detail__photo .flip-card-back {
  transform: rotateY(180deg);
}

.detail__description {
  width: 50%;
  padding: 0px 25px 25px 25px;
}

.description__title h4 {
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;
}

.description__list {
  padding-left: 0px;
  margin-top: 10px;
}

.description__list li {
  display: flex;
  list-style-type: none;
  transition: transform .2s
}

.description__list li:hover {
  transform: scale(1.1);
  transform: translateX(10px)
}

.description__list li .check {
  font-size: 22px;
  color: #32751C;
  margin: 2.8px 16px 0px 0px;
}

.description__additional {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.detail__additional-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.detail__additional-info a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 15px 25px;
  margin: 10px;
  background-color: rgba(14, 107, 51, 0.9);
  border-radius: 50px;
  border: 3px solid white;
  box-shadow: 0px 0px 3px inset #006A29;
}

.detail__additional-info a .leaf {
  margin-left: 5px
}

.detail__additional-info a:hover {
  color: #38AB63;
  background-color: white;
  border: 3px solid #38AB63;
  box-shadow: none;
}

.detail__additional-info a .leaf:hover, .products__display .item__button .leaf:hover  {
  color: #38AB63
}

.products__display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.products__display .display__title {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.products__display .display__title .leaf {
  margin: 0px 25px;
}

.products__display .display__title .leaf1 {
  transform: rotateY(180deg);
}

.products__display .display__title h3 {
  width: 90%;
  padding: 20px;
  margin: 30px 0px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  color: white;
  border: 2px solid  rgba(50, 117, 28, 0.9);
  background-color:  rgba(14, 107, 51, 0.9);
  border-radius: 50px;
}

.products__display .display__title h4 {
  font-size: 22px;
}

.products__display .display__container {
  display: flex;
  justify-content: center;
  background-color: rgba(50, 117, 28, 0.06);
}

.products__display .display__container img {
  height: 200px
}

.products__display .display__container .product__item {
  display: flex;
  align-items: center;
  transition: transform .5s;
}

.products__display .back__banner {
  width: 75%;
  height: 5px;
  background-color: rgba(14, 107, 51, 1);
  z-index: -1;
}

.products__display .display__container .product__item:hover {
  transform: scale(1.1);
}

.products__display .display__container .product__item:hover .item__content  {
  background-color: rgba(14, 107, 51, 0.25);
  box-shadow: 0px 0px 5px silver;
  border: 1px solid #38AB63;
}

.products__display .display__container .product__item:hover .item__button {
  visibility: visible;
}

.products__display .display__container .product__item .item__content {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  padding-top: 16px;
  border-radius: 10px;
  background-color: rgba(14, 107, 51, 0.18);
}

.products__display .display__container .product__item .product1 {
  order: 1;
}

.products__display .display__container .product__item .item__button {
  visibility: hidden;
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  background-color: rgba(14, 107, 51, 0.9);
  border: 2px solid white;
  border-radius: 50px;
}

.products__display .display__container .product__item .item__button:hover {
  color: #38AB63;
  background-color: white;
  border: 2px solid #38AB63;
  box-shadow: none;
}

/* RESPONSIVE */

@media only screen and (max-width: 1245px) {

  .products__presentation .detail__additional-info {
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
  }

  .products__presentation .detail__additional-info a {
    padding: 10px 20px;
    color: #38AB63;
    background-color: white;
    border-color: #38AB63;
    box-shadow: none;
  }

  .products__presentation .detail__additional-info a:hover {
    background-color: rgba(14, 107, 51, 0.9);
    color: white;
    border-color: white;
    box-shadow: 0px 0px 3px inset #006A29;
  }
}

@media only screen and (max-width: 768px) {

  .products__presentation {
    flex-direction: column;
  }

  .products__presentation .detail__photo {
    margin-bottom: 20px;
  }

  .products__presentation .detail__description {
    padding: 5px;
    padding-bottom: 0px;
    width: 100%;
  }

  .products__presentation .detail__additional-info a {
    padding: 10px 20px;
  }

  .products__display {
    margin-bottom: 30px;
  }

  .products__display .display__container {
    flex-wrap: wrap;
    width: 100%;
  }

  .products__display .display__title {
    width: 100%;
  }

  .products__display .display__title h3 {
    width: 100%;
    border-radius: 0px;
    padding: 20px 10px;
    margin-top: 0px;
  }

  .products__display .display__title h3 .leaf {
    margin: 0px 5px;
  }

  .products__display .display__container .product__item {
    flex-direction: column;
  }

  .products__display .display__container .product__item .product1 {
    order: 0
  }

  .products__display .display__container .product__item .item__button {
    text-align: center;
    width: 80%;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0px;
  }
}

@media only screen and (max-width: 540px) {
  
  .presentation__banner .products__title {
    text-align: center;
  }

  .products__presentation .detail__description {
    padding: 5px;
    padding-bottom: 0px;
    width: 100%;
  }

  .products__information {
    padding: 30px 20px;
  }

  .products__presentation .detail__additional-info {
    flex-direction: column
  }

  .products__display .display__container {
    flex-direction: column;
    align-items: center;
  }

  .products__display .display__container .product__item {
    width: 75%;
    margin: 20px 0px;
  }

  .products__display .display__container .product__item .item__content {
    width: 100%;
  }

  .products__display .display__container .product2 {
    order: -1;
  }
}


@media only screen and (max-width: 360px) {

  .presentation__banner .products__title {
    padding: 35px 15px;
  }

  .detail__photo img {
    height: 300px;
  }

  .products__information {
    padding: 30px 20px;
  }
  
  .products__presentation .detail__photo  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 350px;
    perspective: 1000px; /* 3D effect */
  }

  .products__presentation .detail__additional-info a {
    margin: 10px 0px;
  }

}

